<mat-accordion>
  <mat-expansion-panel class="aboutPanel">
    <mat-expansion-panel-header>
      <mat-panel-title> About Ali Osseili</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="selfieAbout">
      <mat-card-content class="textAbout">
        <p>
          Hello! my name is Ali Osseili and I am a recent graduate of Fanshawe
          College's CPA Program.<br /><br />
          I spent 3 years studying and doing Co-Op positions, where I learned a
          mixture
        </p>
      </mat-card-content>
      <img
        src=".././../../../assets/images/portrait1.jpg"
        alt="Ali selfie"
        width="350"
        height="600"
      />
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
