p {
  color: white;
  font-size: 2vw;
}
mat-panel-title {
  font-size: 2vw;
}

h3 {
  font-size: 3.5vw;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 4.2vw;
  }
  mat-panel-title {
    font-size: 4.2vw;
  }
  h3 {
    font-size: 5.5vw;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 768px) {
  p {
    font-size: 2.2vw;
  }
  mat-panel-title {
    font-size: 3.2vw;
  }
  h3 {
    font-size: 5.5vw;
  }
}

mat-expansion-panel {
  padding: 1%;
  background: #79b1f1;
  margin-top: 1%;
}
mat-expansion-panel.mat-expanded {
  background: #79b1f1;
}
mat-card {
  background: #5da2f0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

mat-card.eduPicsCard {
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 70%;
}
img.aboutPic {
  max-width: 60%;
  min-height: 10%;
}
