<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> A Little About Ali Osseili</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <p class="about">
          Hello! <br /><br />
          my name is Ali Osseili and I am a recent graduate of Fanshawe
          College's CPA Program.<br /><br />
          I spent 3 years studying and doing Co-Op positions, and am now seeking
          to enter the job market. <br /><br />
          I love to play video games, program and enjoy going to the gym.
          <br /><br />
        </p>
      </mat-card-content>
      <img
        class="aboutPic"
        src=".././../../../assets/images/portrait1.jpg"
        alt="Ali selfie"
        width="50%"
        height="10%"
      />
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Education</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <p class="education">
          I graduated from Saunders Secondary School in Summer of 2019, and
          began the CPA program at Fanshawe <br />
          <br />
          College in Fall of 2019. This program taught me the basics and
          fundamentals of computer programming. <br /><br />
          It taught me what are design patterns, OOP, the ability to research
          and teach myself new languages <br /><br />
        </p>
      </mat-card-content>
      <mat-card class="eduPicsCard">
        <img
          class="edupics"
          src=".././../../../assets/images/SaundersLogo.jpg"
          alt="Ali selfie"
        />
        <img
          class="edupics"
          src=".././../../../assets/images/FanshaweLogo.png"
          alt="Ali selfie"
        />
      </mat-card>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
