<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> A Little About Ali Osseili</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <p class="about">
          Hello! <br /><br />
          my name is Ali Osseili and I am a recent graduate of Fanshawe
          College's CPA Program.<br /><br />
          I spent 3 years studying and doing Co-Op positions, and am now seeking
          to enter the job market. <br /><br />
          I love to play video games, program and enjoy going to the gym.
          <br /><br />
        </p>
      </mat-card-content>
      <img
        class="aboutPic"
        src=".././../../../assets/images/portrait1.jpg"
        alt="Ali selfie"
      />
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Education</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <p class="education">
          I graduated from Saunders Secondary School in Summer of 2019, and
          began the CPA program at Fanshawe <br />
          <br />
          College in Fall of 2019. This program taught me the basics and
          fundamentals of computer programming. <br /><br />
          It taught me what are design patterns, OOP, the ability to research
          and teach myself new languages <br /><br />
        </p>
      </mat-card-content>
      <mat-card class="eduPicsCard">
        <img
          class="edupics"
          src=".././../../../assets/images/SaundersLogo.jpg"
          alt="Saunders Logo"
        />
        <img
          class="edupics"
          src=".././../../../assets/images/FanshaweLogo.png"
          alt="Fanshawe logo"
        />
      </mat-card>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Work Experience</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <p class="WorkExperience">
          I have had the pleasure of working in retail, I.T and Software
          Development during my time in school. I will only cover my most recent
          positions, but if you wish for a full history be sure to use the
          contact me feature for my Resume!
        </p>
        <h3>Software Developer (Co-Op) Canada Life</h3>
        <p class="WorkExperience">
          I have worked as a Software Developer (Co-Op) for Canada Life, where I
          learned all about JCL and COBOL languages. I created new jobs and
          debugged abended jobs as well. I wrote SQL Queries for DB2 and ensured
          data integrity.
        </p>
        <h3>Arma 3 Server Scripter/Developer</h3>
        <p class="WorkExperience">
          In my time as a Arma 3 Server Scripter/Developer, I had developed for
          the PSL community, Extremo community and Life's End community. I wrote
          in Arma 3's custom SQF language based on the C++ language, where I
          created custom game mechanics for a life roleplay modification of the
          game. I also created and maintained an SQL database for player data,
          and utilized an API to connect the game server to the database.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Contact me!</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Your Name</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Your Message</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
